span { 
    height: 60px;
    width: 50px;
}
.container1 { 
    margin: 10px 35px;
}
#addon-wrapping { 
font-size: 30px;
}
.tekst { 
    font-weight: bold;
}
.form-select { 
    font-weight: bold;
}
.input-group-text:hover { 
    height: 110%;
    background-color: yellow;
}
.form-control :hover  { 
    height: 110%;
    background-color: darkcyan;
}
.cardd {
    padding: 10px;
  }
  
 .cardd h1 {
    font-size: 50px;
    font-weight: bold;
    margin: 20px 0;
  }
   .cardd p {
    font-size: 20px;
    color: #ffffff;
    margin: 20px 0 !important;
  }
  .cardd .chiziq {
    display: block;
    width: 100%;
    height: 3px;
    background-color: gray;
    margin-top: 50px !important;
  }
   .cardd:hover .chiziq {
    background-color: yellow;
  }